<launch>
  <arg name="model" default="$(find eg_navigation)/robots/naviton_3d.urdf.xacro" />

  <arg name="include" default="false"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <group unless="$(arg include)">
    <arg name="rvizconfig" default="$(find eg_navigation)/rviz/model_show.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  </group>
</launch>