<launch>
    <arg name="nav_mode" default="localization"/>
    <arg name="move_base" default="false"/>
    <arg name="mapFile" default="$(find eg_navigation)/resources/map_2d/tukuba/map.yaml"/>
    <arg name="gmapping_config" default="$(find eg_navigation)/config/gmapping.yaml" />
    <arg name="amcl_config" default="$(find eg_navigation)/config/amcl.yaml" />

    <!--odometry-->
    <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find tvc_navigation)/config/ekf_localization/model1.yaml" />
        <remap from="odometry/filtered" to="fusion/odom" />
    </node>-->

    <group if="$(eval nav_mode == 'mapping')">
        <!--mapping-->
        <!--gmapping-->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
            <rosparam command="load" file="$(arg gmapping_config)"/>
        </node>
    </group>

    <group if="$(eval nav_mode == 'localization')">
        <!-- amcl -->
        <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapFile)">
            <param name="frame_id" value="map"/>
        </node>
        <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
            <rosparam command="load" file="$(arg amcl_config)" />
        </node>
    </group>

    <!-- move_base -->
    <!--<group if="$(arg move_base)">
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find tvc_navigation)/config/move_base/local_costmap_params_old.yaml" command="load" />
            <rosparam file="$(find tvc_navigation)/config/move_base/global_costmap_params_old.yaml" command="load" />
            <rosparam file="$(find tvc_navigation)/config/move_base/base_local_planner_params.yaml" command="load" />

            <param name="global_costmap/global_frame" value="map" />
            <param name="global_costmap/robot_base_frame" value="base_footprint" />
            <param name="local_costmap/laser_scan_sensor/sensor_frame" value="lidar_link" />
            <param name="local_costmap/laser_scan_sensor/topic" value="scan_filter" />
            <param name="local_costmap/global_frame" value="odom" />
            <param name="local_costmap/robot_base_frame" value="base_footprint" />
        </node>
    </group>-->

</launch>