<launch>
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml" />
    <arg name="manager" default="velodyne_pointcloud" />
    <arg name="max_range" default="100.0" />
    <arg name="min_range" default="0.3" />
    <arg name="toLaserScan" default="true" />

    <node pkg="velodyne_pointcloud" type="cloud_node" name="$(arg manager)">
        <param name="model" value="VLP16"/>
        <param name="calibration" value="$(arg calibration)"/>
        <param name="max_range" value="$(arg max_range)"/>
        <param name="min_range" value="$(arg min_range)"/>
    </node>

    <group if="$(arg toLaserScan)">
        <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
            <remap from="cloud_in" to="velodyne_points"/>
            <rosparam>
                target_frame: velodyne # Leave disabled to output scan in pointcloud frame
                transform_tolerance: 0.01
                min_height: -0.5
                max_height: 0.1
                angle_min: -3.141592653 # -M_PI*3/4
                angle_max: 3.141592653 # M_PI*3/4
                angle_increment: 0.0087 # M_PI/360.0
                scan_time: 0.02
                range_min: 0.1
                range_max: 80.0
                use_inf: true

                # Concurrency level, affects number of pointclouds queued for processing and number of threads used
                # 0 : Detect number of cores
                # 1 : Single threaded
                # 2->inf : Parallelism level
                concurrency_level: 1
            </rosparam>
      </node>
  </group>

  <!--<arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="frame_id" default="velodyne" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
  <arg name="max_range" default="100.0" />
  <arg name="min_range" default="0.4" />
  <arg name="laserscan_ring" default="-1" />
  <arg name="laserscan_resolution" default="0.007" />

  <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
    <arg name="model" value="VLP16"/>
    <arg name="calibration" value="$(arg calibration)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="fixed_frame" value="" />
    <arg name="target_frame" value="" />
    <arg name="max_range" value="$(arg max_range)"/>
    <arg name="min_range" value="$(arg min_range)"/>
    <arg name="organize_cloud" value="$(arg organize_cloud)"/>
  </include>

  <include file="$(find velodyne_pointcloud)/launch/laserscan_nodelet.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="ring" value="$(arg laserscan_ring)"/>
    <arg name="resolution" value="$(arg laserscan_resolution)"/>
  </include>-->

</launch>