<launch>
    <!--<arg name="map_pcd" value="$(find eg_navigation)/resources/pcd/clearpath.pcd" />-->
    <arg name="map_pcd" value="$(find eg_navigation)/resources/pcd/daigaku.pcd" />
    

    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud"
      args="$(arg map_pcd)" >
        <param name="frame_id" value="map" />
        <param name="latch" value="true"/>
        <remap from="cloud_pcd" to="mapcloud" />
    </node>

    <arg name="rvizconfig" default="$(find tvc_navigation)/rviz/map_display.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>