<launch>
    <arg name="rviz" default="true"/>
    <arg name="sim" default="false"/>
    <arg name="world_name" default="$(find eg_navigation)/worlds/clearpath_playpen.world"/>

    <group if="$(arg sim)">
        <arg name="ini_x_pos" default= "0.0"/>
        <arg name="ini_y_pos" default= "0.0"/>
        <arg name="ini_z_pos" default= "0.0"/>
        <arg name="ini_yaw"   default= "0.0"/>

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="false"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
        </include>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model roomba -x $(arg ini_x_pos) -y $(arg ini_y_pos) -z $(arg ini_z_pos) -Y $(arg ini_yaw)" />
    </group>

    <!--joystick -> cmd_vel-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4" pkg="eg_navigation" type="joystickPS4"/>

    <!--rviz-->
    <include file="$(find eg_navigation)/launch/include/model_show.launch" >
        <arg name="include" value="true"/>
    </include>
    <group if="$(arg rviz)">
        <arg name="rvizconfig" default="$(find eg_navigation)/rviz/operation_check.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>