<?xml version="1.0"?>

<launch>
    <arg name="fileName" default="way1.csv"/>
    <arg name="mapFile" default = "$(find eg_navigation)/resources/map_2d/clearpath/map.yaml"/>

    <node name="wpLoad" pkg="eg_wptool" type="wpLoad" output="screen">
        <param name="filePath" value="$(find eg_navigation)/csv/$(arg fileName)"/>
        <param name="map_frame_id" value="map"/>
        <remap from="wayPoint/path" to="path"/>
    </node>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapFile)">
        <param name="frame_id" value="map"/>
    </node>
    <node name="wpVisualizer" pkg="eg_wptool" type="wpVisualizer">
        <param name="markerSize" value="5.0"/>
    </node>

    <arg name="rvizconfig" default="$(find eg_navigation)/rviz/path_display.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>